* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;
}

html,
body {
    width: 100%;
    height: 100%;
}

body {
    background: #333;
    color: white;
}

main {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
}

.piano {
    width: 90%;
    /* background: rgb(22, 150, 107); */
    box-shadow: inset 0 0 20px rgb(255, 255, 255);
    border-radius: 20px;
    display: flex;
    flex-direction: column;
    overflow: hidden;

}

.piano-body {
    width: 100%;
    height: 20vw;
    display: flex;
    border: 10px solid black;
    background: #2b2a2a;

}

.speaker {
    overflow: hidden;
    width: 30vw;
    height: 100%;
    /* background: cyan; */
    background: #000;
    display: flex;
    justify-content: center;
    align-items: center;
}

.speaker img {
 object-fit: cover;
    width: 15vw;
    height: 15vw;

}

.speaker img:active {
    /* scale: 1.05; */

}

.display {
    /* white-space:none; */
    width:40vw;
    height: 20vw;
    background: rgb(26, 104, 194);
    border:2px solid yellowgreen;
    border-radius: 10px;
    padding:20px;
}
.display .menu{
    display: flex;
    justify-content: center;
}
.display .menu h2{
    cursor: pointer;
    user-select:none

}
.display input{
    padding:10px;
    min-width:100%;
    height:100%;
    background: transparent;
    color :rgb(252, 252, 252);
    white-space:wrap;
    text-wrap:wrap;
    /* background: red; */
    border:none;
    cursor: pointer;
    
}

.piano-keys {
    display: flex;
    height: 20vw;
    width: 100%;
    background: rgb(0, 0, 0);
    /* background: rgb(211, 205, 205); */
    padding:0 20px;
}

.key{
    padding:0px;
    flex-grow: 1;
    transition:all .2s ease;
    border-right:1px solid black;
    /* border-left:1px solid black; */
    text-align:center;
    display: flex;
    justify-content: center;align-items: center;
    user-select: none;
}
.wlkey{
    background: white;
    height:100%;
    width:20px;
    position:relative;
    color:black;
    font-size:12px;
    padding-top:18%;
}
.wlkey::after{
    content: "";
    width:10px;
    height:30%;
    background: rgb(255, 255, 255);
    position: absolute;
    bottom: 0;
    right:0;
    transform: translate(100%,0);
    border-right: 5px solid black ;
    transition:all .2s ease;

    
}

.wlkey:hover::after ,.wlkey:hover{
    background: #bbb9b9;
}
.bkey{
    background: black;
    font-size:10px;
    color:white;
    height:70%;
    width:20px;
    border:none;
}
.bkey:hover{
    background: linear-gradient(to bottom ,black,rgb(83, 83, 83));
}
.wckey{
    background: rgb(255, 255, 255);
    color:black;
    font-size:12px;
    height:100%;
    width:10px;position: relative;
     padding-top:18%;
}
.wckey::before{
    content: "";
    width:10px;
    height:30%;
    background: rgb(255, 255, 255);
    /* background: greenyellow; */
    position: absolute;
    bottom: 0;
    left:0;
    transform: translate(-100%,0);
    transition:all .2s ease;

}
.wckey::after{
    content: "";
    width:10px;
    height:30%;
    background: rgb(255, 255, 255);
    /* background: greenyellow; */
    position: absolute;
    bottom: 0;
    right:0;
    transform: translate(100%,0);
    transition:all .2s ease;

}

.wckey:hover::after ,.wckey:hover::before ,.wckey:hover{
    background: #bbb9b9;
    
}
.wrkey{
    background: rgb(255, 255, 255);
    color:black;
    height:100%;
    width:20px;position: relative;
    font-size:12px;
     padding-top:18%;
}
.wrkey::after{
    content: "";
    width:10px;
    height:30%;
    background: rgb(255, 255, 255);
    /* background: greenyellow; */
    position: absolute;
    bottom: 0;
    left:0;
    transform: translate(-100%,0);
    transition:all .2s ease;

}

.wrkey:hover::after ,.wrkey:hover{
    background: #bbb9b9;
}