* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;
}

html,
body {
    width: 100%;
    height: 100%;
}

body {
    background: #333;
    color: white;
}

main {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
}

.piano {
    width: 80%;
    
    /* background: rgb(22, 150, 107); */
    box-shadow: inset 0 0 20px rgb(255, 255, 255);
    border-radius: 20px;
    display: flex;
    flex-direction: column;
    overflow: hidden;

}

.piano-body {
    width: 100%;
    height: 20vw;
    display: flex;
    border: 10px solid black;
    background: #2b2a2a;

}

.speaker {
    overflow: hidden;
    width: 30vw;
    height: 100%;
    /* background: cyan; */
    background: #000;
    display: flex;
    justify-content: center;
    align-items: center;
}

.speaker img {
 object-fit: cover;
    width: 15vw;
    height: 15vw;

}

.speaker img:active {
    /* scale: 1.05; */

}

.display {
    /* white-space:none; */
    width:40vw;
    height: 20vw;
    background: rgb(26, 104, 194);
    border:2px solid yellowgreen;
    border-radius: 10px;
    padding:20px;
}
.display textarea{
    padding:10px;
    min-width:100%;
    height:100%;
    background: transparent;
    color :rgb(252, 252, 252);
    white-space:wrap;
    /* text-wrap:100%; */
    /* background: red; */
    border:none;
    
}

.piano-keys {
    display: flex;
    height: 20vw;
    width: 100%;
    background: cyan;
    background: rgb(211, 205, 205);
}

.white-key {
    background: rgb(211, 205, 205);
    width: 100%;
    height: 100%;
    border-radius: 0 0 20px 20px;
    transform-origin: top;

}

.black-key {
    width: 100%;
    height: 70%;
    background: black;
    border-radius: 0 0 20px 20px;
    display: flex;
    justify-content: center;
    transform-origin: top;
}

.line {
    width: 10%;
    height: 200%;
    background: black;
    z-index: 10;
}

.black-key:active,
.white-key:active {
    transform: scaleY(1.05)
}